.box {
  margin-top: 30px;
  border: 1px solid black;
  width: 400px;
  height: 400px;
}

@keyframes colorChange {
  0% {
    background-color: red;
  }
  25% {
    background-color: yellow;
  }
  50% {
    background-color: green;
  }
  75% {
    background-color: blue;
  }
  100% {
    background-color: red;
  }
}