div {
  background-color: blue;
  text-align: center;
  padding: 20px 0 20px 0;
  color: white;
  font-size: larger;
  font-weight: bold;
  cursor: pointer;
}

table {
  width: 100%;
  display: none;
}