* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  margin: 20px 0 0 20px;
  max-width: 400px;
  border: 1px solid grey;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: end;
  background-color: rgb(232, 232, 232);
  padding: 7px;
}

button {
  border: none;
  text-decoration: underline;
  color: rgb(140, 0, 255);
  cursor: pointer;
  font-weight: bold;
  background-color: transparent;
}

p {
  padding: 20px 7px 20px 7px;
  color: gray;
}

.hidden {
  display: none;
}

.hide-btn {
  padding: 0 10px 20px 7px;
}